# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.dll
*.exe

# Packages
*.nupkg
*.snupkg

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# App settings (development specific)
appsettings.Development.json
